/*

!README.md
!.gitignore

!.home/
!.util/
!.scripts/

!.Xresources
!.Xresources.d/

!zsh/
!nvim/
!vifm/
!bolt/
!bspwm/
!htop/
!dunst/
!neofetch/
!vimiv/
!flameshot/
!polybar/
!sxhkd/
!picom/
!dofi/

