/*##########################################################################*/
!
!    ██╗  ██╗██████╗ ███████╗███████╗
!    ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝
!     ╚███╔╝ ██████╔╝█████╗  ███████╗
!     ██╔██╗ ██╔══██╗██╔══╝  ╚════██║
!    ██╔╝ ██╗██║  ██║███████╗███████║
!    ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝                                
!    Edited by Shishqa
!
/*##########################################################################*/

! FONTS !
#include "/home/shishqa/.config/.Xresources.d/fonts"

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

! COLORS !
#include "/home/shishqa/.config/.Xresources.d/term-theme"

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

! SIDE APPS !
! #include "/home/shishqa/.config/.Xresources.d/urxvt"
#include "/home/shishqa/.config/.Xresources.d/rofi"

/*##########################################################################*/
